/* Ghost Styles */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.ghost-writer {
  position: absolute;
  z-index: 99;

  padding: 3px 5px 3px 7px;

  border-radius: 5px;
  background: #222;
  
  opacity: 1;
  transition: opacity 0.7s ease;
}

.ghost-writer .toolbar ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
  white-space: nowrap;
}

.ghost-writer .toolbar ul li {
  display: inline;
}

.ghost-writer .toolbar button {
  padding: 5px 7px 5px 5px;
}

.ghost-writer .toolbar button {
  color: #ddd;
  
  transition: all 0.5s ease;
}

.ghost-writer .toolbar button span {
  transition: all 0.5s ease;
}

.ghost-writer .toolbar button:hover {
  background: #000;
}

.ghost-writer .toolbar button:hover span, .ghost-writer .toolbar button.active span {
  color: #4E5D60;
}

.arrow-down {
  position: absolute;
  left: 49%;
  bottom: -5px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 14px solid #222;
}

.hidden {
  opacity: 0;
}

/**
 * Ghost Writer Tab
 *
*/
/* container */
.ghost-writer-tab {
  position: absolute;
  right: 0px;
  top: 25%;
  
  width: 40px;
  height: 40px;
  overflow: hidden;
  
  transition: all 0.5s ease; 

  z-index: 5;
}

.gw-container {
  position: relative;
  overflow: hidden;
  width: 140px;
  float: left;
}

/* logo */
.gw-icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  
  background: rgba(0,0,0,0.5) url(../img/ghost.png) no-repeat center center;
  float: left;
}


/* toolbar */
.gw-tab-menu {
  position: relative;
  float: left;
  display: inline-block;
  
  background: rgba(225, 225, 225, 0.75);
  width: 100px;
}

.gw-tab-menu.save {
  background: rgba(73, 189, 54, 0.75);
  color: #fefefe;
}

.gw-tab-menu ul {
  list-style-type: none;
  
  padding: 0;
  margin: 0;
}

.gw-tab-menu ul li {
  display: inline;
}

.gw-tab-menu ul li button, .toolbar button {
  padding: 0 0 0 25px;
  margin: 0px;
  height: 40px;

  border: 0px none;
  background: none repeat scroll 0% 0% transparent;
  
  cursor: pointer;
}

.gw-tab-menu ul li button span {
  padding: 5px;
}

/* address ocd issue where bottom of icons don't line up */
.gw-tab-menu ul li:first-child button span {
  position: relative;
  top: 1px;
}

.ghost-writer-tab:hover {
  width: 140px;
  height: 40px;
}


